@mixin card-shadow {
	overflow: visible;
	-webkit-box-shadow: 0px 20px 25px -15px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 20px 25px -15px rgba(0,0,0,0.30);
	box-shadow: 0px 20px 25px -15px rgba(0,0,0,0.30);
	transition: .5s;
}

.card-shadow {
	@include card-shadow;
}

.card-hover {
	@include card-shadow;
	transition: .5s;

	&:hover {
		transform: translateY(-5px);
		-webkit-box-shadow: 0px 25px 25px -5px rgba(0,0,0,0.20);
		-moz-box-shadow: 0px 25px 25px -5px rgba(0,0,0,0.20);
		box-shadow: 0px 25px 25px -5px rgba(0,0,0,0.20);
		transition: .5s;
	}
}

a.card-link {
	color: inherit;
	text-decoration: none;
	
	&:hover {
		color: inherit;
	}
}

.mr-art-card {
	@extend .card, .border-0, .rounded-0, .animate-reveal;
	margin-bottom: 10px !important;
	
	background-color: transparent;
	img {
		@extend .rounded-0;
	}
}

.mr-art-card a, .mr-img-stack a {
	display: block;
	width: 100%;
	height: 100%;
	color: white;

	.mr-card-overlay {
		display: flex;
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0; right: 0; bottom: 0; left: 0;
		justify-content: center;
		align-items: center;

		transition: all .5s;

		.art-title {
			font-weight: normal;
			font-size: 1.25em;
		}
	}

	&:hover {
		.mr-card-overlay {
			opacity: 1;
			@extend .bg-mr-accent-opaque;
			transition: all .5s;
		}
	}
}

.mr-art-card.mr-category {

	.mr-category-overlay {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0; right: 0; bottom: 0; left: 0;
		justify-content: center;
		align-items: center;
	
		flex-direction: column;
		background-color: rgba(174,119,117, 0.8);
		transition: all .5s;
	}

	&:hover {
		.mr-category-overlay {
			background-color: rgba(198,149,147,0.8);
		}
	}
}

/* NOT IN USE */
// .mr-img-stack {
// 	display: block;
// 	position: relative;
// 	@extend .shadow-sm;
// 	transform: translateY(0px);
// 	transition: transform .5s ease-in-out;

// 	&:before, &:after {
// 		content: "";
// 		position: absolute;
// 		opacity: 0.3;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 100%;
// 		z-index: -10;
// 		@extend .bg-mr-accent-opaque;
// 		transition: transform .5s ease-in-out;
// 	}

// 	&:hover {
// 		transform: translateY(10px);

// 		&:before {
// 			transform: scale(0.95) translateY(-25px);
// 			-webkit-transform: scale(0.95) translateY(-25px);
// 		}
	
// 		&:after {
// 			transform: scale(0.9) translateY(-50px);
// 			-webkit-transform: scale(0.9) translateY(-50px);
// 		}
// 	}
// }

// .mr-filter-active {
// 	@extend .bg-mr-accent;
// 	color: white !important;
// 	padding: 0.5em 1.25em !important;
	
// 	-webkit-box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.75);
// 	-moz-box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.75);
// 	box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.75);
// }

// .mr-filter a:hover:not(.mr-filter-active) {
// 	@extend .text-mr-accent;
// }

.mr-btn {
	display: inline-block;
	@extend .btn-mr-accent;
	padding: 0.65em 1.4em !important;
	transform: translateY(0px);
	transition: all .5s ease-in-out;

	-webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);

	&:hover {
		text-decoration: none;
		transform: translateY(-5px);
		transition: all .5s ease-in-out;

		-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.25);
		box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.25);
	}
}