.rapella-divider {
	height: 2px;
	width: 20%;
	margin: .75em 0;
	@extend .bg-rapella-accent;
}

.rapella-art-card {
	@extend .card, .shadow-sm, .border-0, .rounded-0;
	background-color: transparent;
	img {
		@extend .rounded-0;
	}
}

.rapella-art-card a, .rapella-img-stack a {
	display: block;
	width: 100%;
	height: 100%;
	color: white;

	.rapella-card-overlay {
		display: flex;
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0; right: 0; bottom: 0; left: 0;
		justify-content: center;
		align-items: center;

		transition: all .5s;

		.art-title {
			font-weight: normal;
			font-size: 1.25em;
		}
	}

	&:hover {
		.rapella-card-overlay {
			opacity: 1;
			@extend .bg-rapella-accent-opaque;
			transition: all .5s;
		}
	}
}

.rapella-artist-img {
	display: block;
	max-width: 100%;
	max-height: 500px;
	margin: 0 auto;
}

.rapella-img-stack {
	display: block;
	position: relative;
	@extend .shadow-sm;
	transform: translateY(0px);
	transition: transform .5s ease-in-out;

	&:before, &:after {
		content: "";
		position: absolute;
		opacity: 0.3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -10;
		@extend .bg-rapella-accent-opaque;
		transition: transform .5s ease-in-out;
	}

	&:hover {
		transform: translateY(10px);

		&:before {
			transform: scale(0.95) translateY(-25px);
			-webkit-transform: scale(0.95) translateY(-25px);
		}
	
		&:after {
			transform: scale(0.9) translateY(-50px);
			-webkit-transform: scale(0.9) translateY(-50px);
		}
	}
}