.navbar-dark .navbar-nav {
	.nav-link { 
		color: white;
		padding: 1em 1.5em !important;
		transition: all .5s ease-in-out;

		&.active, &:hover {
			@extend .bg-mr-accent;
			transition: .5s;
		}
	}
}

.mr-navbar-toggle {
	color: white;
	background-color: transparent;
	border: none;
	padding: 1em 0;
	text-transform: uppercase;

	.mr-menu-icon, .mr-menu-icon:after {
		width: 20px;
		height: 2px;
		background: white;
		transition: .5s;
	}

	.mr-menu-icon {
		transform: translateY(6px);
	}

	.mr-menu-icon:after {
		content: "";
		display: block;
		transform: translateY(9px);
	}

	// display an X button when menu is expanded
	&[aria-expanded=true] {
		.mr-menu-icon, .mr-menu-icon:after {
			transition: .5s;
		}

		.mr-menu-icon {
			transform: rotate(45deg) translateX(.5em) translateY(6px);

			&:after {
				transform: rotate(-90deg);
			}
		}
	}
}

.mr-site-logo {
	width: 350px;
	max-width: 100%;
}

.mr-nav-logo {
	height: 40px;
}

.mr-filter {
	a {
		display: inline;
		margin: 0 .75em;
		padding: .4em .2em;
		cursor: pointer;
		border-bottom: 4px solid;
		border-width: 0px;
		transition: all .25s ease-in-out;
		
		&.mr-filter-active, &:hover {
			border-width: 100%;
			@extend .border-mr-accent-opaque;
			transition: all .25s ease-in-out;
		}
	}
}

.mr-social-footer {
	a {
		font-size: 1.6em;
		transition: .5s;

		&:hover {
			text-decoration: none;
			color: white;
			opacity: 0.6;
			transition: .5s;
		}
	}
}