body {
	font-family: "Raleway", var(--font-family-sans-serif);
}

.mr-heading, .art-title, .art-count {
	font-family: "Laila";
	margin-bottom: 0.5em;
}

.mr-heading:after {
	display: block;
	content:"";
	width: 80px;
	height: 3px;
	margin: 0.3em 0;
	@extend .bg-mr-accent;
}

.text-center .mr-heading:after {
	margin: 0.3em auto;
}

@include media-breakpoint-up(md) {
	.text-md-left .mr-heading:after {
		margin: 0.3em 0;
	}

	.text-md-center .mr-heading:after {
		margin: 0.3em auto;
	}
}

.mr-subheading {
	@extend .text-mr-accent;
}

.mr-text-detail {
	color: rgba(0, 0, 0, 0.4);
}

.mr-filter {
	font-size: 1.1em;
}

.mr-card-overlay {
	.art-title {
		font-weight: normal;
		font-size: 1.25em;
	}
}

.mr-category-overlay {
	.art-title {
		font-weight: normal;
		font-size: 1.25em;
	}

	.art-count {
		font-size: 1em;
	}
}