.rapella-heading.serif, .rapella-subheading.serif {
	font-family: serif;
}

.rapella-heading {
	font-weight: bold;
	margin-bottom: 0;
}

.rapella-subheading {
	@extend .text-rapella-accent;
}

.rapella-text-detail {
	font-size: 1.1em;
	color: rgba(0, 0, 0, 0.4);
}