---
layout: default
title: Home
description: Digital & Fine Art by Madi Rapella
featured: assets/site/featured.jpg
posts:
- _posts/2019-11-01-zayn.md

---
<main class="container">

    <div class="text-center mt-n3 mb-4">
        <a href="/">
            <img src="/assets/site/logo.png" alt="" class="mr-site-logo">
        </a>
    </div>

    <div class="row mx-n2 mx-md-0">
        <div class="card-columns" id="gallery">

            {% for post in site.posts %}

            <div class="mr-art-card" data-remote="{{ site.cloudinary_url_full }}{{ post.featured_image }}" data-toggle="lightbox" data-gallery="gallery" data-footer="{{post.title}}, {{ post.medium }} ({{ post.date | date: '%Y' }})">
                <a href="#" >
                    <img src="{{ site.cloudinary_url }}{{ post.featured_image }}" class="card-img-top" 
                        alt="{{ post.title }}">
                    <div class="mr-card-overlay">
                        <h2 class="art-title">{{ post.title }}</h2>
                    </div>
                </a>
            </div>

            {% endfor %}

        </div>
    </div>

    {% if site.store-open %}
        {% include store-open.html %}
    {% endif %}

</main>