---
layout: default
title: Home
description: Digital & Fine Art by Madi Rapella
featured: assets/site/featured.jpg
posts:
- _art/portrait-study.md
- _art/fairy-in-the-forest.md
- _art/the-redemption.md
- _art/finn-in-the-forest.md
- _art/the-hunt.md
- _art/field-of-gold.md
- _art/lionhearted.md
- _art/the-witcher.md
- _art/zayn.md
- _art/the-snow-princess.md
- _art/one-and-the-same.md
- _art/the-dragon-and-the-wolf.md
- _art/the-last-of-them.md
- _art/raudha.md
- _art/the-runaway.md
- _art/self-portrait.md
- _art/mourning-angels.md

---
<main class="container">

    <div class="text-center mt-n3 mb-4">
        <a href="/">
            <img src="/assets/site/logo.png" alt="Rapella Art site logo" class="mr-site-logo">
        </a>
    </div>

    <div class="row mx-n2 mx-md-0">
        <div class="bricklayer" id="gallery">

            {% for postref in page.posts %}
                {% assign postobject = site.art | where: "path", postref %}
                {% assign post = postobject[0] %}

            <div class="mr-art-card" data-remote="{{ site.cloudinary_url_full }}{{ post.featured_image }}" data-toggle="lightbox" data-gallery="gallery" data-footer="{{post.title}}, {{ post.medium }} ({{ post.date | date: '%Y' }})">
                <a href="#" >
                    <img src="{{ site.cloudinary_url }}{{ post.featured_image }}" class="card-img-top" 
                        alt="{{ post.title }}">
                    <div class="mr-card-overlay">
                        <h2 class="art-title">{{ post.title }}</h2>
                    </div>
                </a>
            </div>

            {% endfor %}

        </div>
    </div>

    {% if site.store-open %}
        {% include store-open.html %}
    {% endif %}

</main>