---
layout: default
title: Home
description: enter your description
featured: site/featured.jpg
---
<main class="container">
    <div class="row mx-1">
        <div class="card-columns">

            {% assign art = site.art | sort: 'date' | reverse %}

            {% for piece in art %}

            <div class="rapella-art-card">
                <a href="{{ piece.slug }}">
                    <img src="{{ piece.featured_image }}" class="card-img-top" 
                        alt="{{ piece.title }}">
                    <div class="rapella-card-overlay">
                        <h2 class="art-title">{{ piece.title }}</h2>
                    </div>
                </a>
            </div>

            {% endfor %}

        </div>
    </div>

    {% if site.store-open %}
        {% include store-open.html %}
    {% endif %}

</main>