{% if page.title == "Home" %}
	<title>{{ site.home_title}}</title>
	<meta property="og:title" content="{{ site.home_title }}">
{% else %}
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta property="og:title" content="{{ page.title }} | {{ site.title }}">
{% endif %}

{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	<meta property="og:description" content="{{ page.description }}">
{% endif %}

{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
{% endif %}

{% if page.featured %}
	{% assign featured = site.url | append: site.assets.img | append: page.featured %}
	<meta property="og:image" content="{{ featured }}">
{% endif %}

<meta property="og:url" content="{{ site.url | append: page.url }}">
<link rel="canonical" href="{{ site.url | append: page.url }}" />

<meta property="og:locale" content="en_US"/>

<link rel="apple-touch-icon" sizes="180x180" href="assets/site/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/site/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/site/favicon-16x16.png">
<link rel="manifest" href="assets/site/site.webmanifest">
<link rel="shortcut icon" href="assets/site/favicon.ico">
<meta name="msapplication-TileColor" content="#eddddc">
<meta name="msapplication-config" content="assets/site/browserconfig.xml">
<meta name="theme-color" content="#eddddc">