<div class="container my-4">
    <div class="text-center mb-4">
        <a href="/">
            <img src="/assets/img/site/logo.png" alt="" class="mr-site-logo">
        </a>        
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-mr-accent-opaque shadow-sm rounded p-0">
        <div class="mx-auto">
            <button class="d-flex justify-content-center d-md-none mr-navbar-toggle px-4" type="button" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="mr-menu-icon mr-2"></span>
                <span class="">Menu</span>
            </button>
        </div>

          <div id="navbar-content" class="collapse navbar-collapse">
              <ul class="navbar-nav mx-auto">
                    {% for item in site.menus.header %}
                    <li class="nav-item">
                        <a href={{item.url}} 
                            class="nav-link {% if item.url == page.url %}active{% endif %}">
                            {{item.title}}
                        </a>
                    </li>
                    {% endfor %}
              </ul>
          </div>

    </nav>
</div>