<div class="container my-4">
    <div class="text-center mb-4">
        <a href="/">
            <img src="/assets/img/site/logo.png" alt="" class="mr-site-logo">
        </a>        
    </div>

    <nav class="navbar navbar-expand navbar-dark bg-mr-accent-opaque shadow-sm rounded p-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse">
              <ul class="navbar-nav mx-auto">
                    {% for item in site.menus.header %}
                    <li class="nav-item">
                        <a href={{item.url}} 
                            class="nav-link {% if item.url == page.url %}active{% endif %}">
                            {{item.title}}
                        </a>
                    </li>
                    {% endfor %}
              </ul>
          </div>

    </nav>
</div>