<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-mr-accent-light shadow-sm py-0">
    <div class="container">

        <a href="/" class="ml-md-2 mr-md-4 py-2">
            <img src="/assets/site/logo-white.png" alt="" class="mr-nav-logo">
        </a>

        <button class="d-flex d-md-none mr-navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="mr-menu-icon" style="margin-top:-0.65em;"></span>
        </button>

        <div id="navbar-content" class="collapse navbar-collapse mt-2 mb-3 my-md-0">
            <ul class="navbar-nav">
                {% for item in site.menus.header %}
                <li class="nav-item my-1 my-md-0">
                    <a href={{item.url}} 
                        class="nav-link {% if item.url == page.url %}active{% endif %}">
                        {{item.title}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

</nav>