$minus-opacity: .85;

article a, p a {
	@extend .text-mr-accent;
}

.display-5 {
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.2;
}

h1, h2, h3, h4 {
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.card-columns {
	column-gap: 10px;
	row-gap: 10px;
}

main.container {
	margin-top: 6em;
}