$minus-opacity: .85;

article a {
	color: lighten($link-color, 20%);
	border-radius: .2rem;
	font-weight: 500;
	
	&:hover {
		transition: .25s;
		color: lighten($link-color, 10%);;
	}
}

.display-5 {
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.2;
}

h1, h2, h3, h4 {
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.navbar-dark .navbar-nav {

	.nav-item {
		padding: 0 1rem;
	}
	.nav-link { color: white; }
}