---
layout: default
---
<div class="container">

    <div class="row mb-4 flex-row-reverse">

        <div class="col-12 col-md-5">
            <div class="mr-art-card">
                <img src="{{ page.artist-image }}" class="card-img-top">
            </div>
        </div>

        <div class="col-12 col-md-7 mt-4">
            <h1 class="mr-heading">{{ page.title }}</h1>
            {{ content }}

            {% if page.resume.size > 0 %}
                <a href="{{page.resume}}" class="btn btn-mr-accent rounded-0 shadow my-2 px-4 py-2">
                    View Resume
                    <i class="fas fa-chevron-right ml-2"></i>
                </a>
            {% endif %}
        </div>

    </div>

</div>