<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="bg-rapella-primary">
    {% include nav.html %}
    
    <main class="container">
        <div class="row mx-1">

            <div class="card-columns">

                {% for i in (1..2) %}

                {% for art in site.art %}

                <div class="rapella-art-card my-3">
                        <a href="#" class="rapella-img-stack">
                            <img src="{{ site.assets.img | append: art.image }}" class="card-img-top" alt={{ art.title }}>
                            <div class="rapella-card-overlay">
                                <h2 class="art-title">{{ art.title }}</h2>
                            </div>
                        </a>
                    
                </div>
    
                {% endfor %}
                {% endfor %}

            </div>

        </div>
    
    </main>
    
	{% include footer.html %}
</body>
</html>