<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="bg-mr-primary">
    {% include nav.html %}
    
    <main class="container">
        <div class="row flex-column-reverse flex-md-row mt-5 mb-4">
    
            <div class="col-12 col-md-6 my-auto">
                <h2 class="mr-heading">{{ page.medium_1 }}</h2>
                <h5 class="mr-subheading">
                    Starting at ${{ page.medium_1_start_price}}
                </h5>
                <p>{{ page.medium_1_description }}</p>
                <a href="mailto:mrapella@csumb.edu?subject=Rapella Art: {{page.medium_1}} Commission" class="mr-btn">
                    <i class="fas fa-envelope mr-1"></i>
                    Get a Quote
                </a>
            </div>
    
            <div class="col-12 col-md-6 my-auto">
                <div class="row mb-4 mb-md-0">

                    {% for sample in page.medium_1_samples %}

                    <div class="col-6 col-md-6 my-auto">
                        <div class="card rounded-0 border-0 shadow-sm">
                            <img src="{{ sample }}" class="card-img-top rounded-0" alt="">
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
    
        </div>
    
        <div class="row my-5">
    
            <div class="col-12 col-md-6 my-auto">
                <div class="row mb-4 mb-md-0">
                    
                    {% for sample in page.medium_2_samples %}

                    <div class="col-6 col-md-6 my-auto">
                        <div class="card rounded-0 border-0 shadow-sm">
                            <img src="{{ sample }}" class="card-img-top rounded-0" alt="">
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
    
            <div class="col-12 col-md-6 my-auto">
                <h2 class="mr-heading">{{ page.medium_2 }}</h2>
                <h5 class="mr-subheading">
                    Starting at ${{ page.medium_2_start_price}}
                </h5>
                <p>{{ page.medium_2_description }}</p>
                <a href="mailto:mrapella@csumb.edu?subject=Rapella Art: {{page.medium_2}} Commission" class="mr-btn">
                    <i class="fas fa-envelope mr-1"></i>
                    Get a Quote
                </a>
            </div>
    
        </div>
    
    
        <div class="row flex-column-reverse flex-md-row my-5">
    
            <div class="col-12 col-md-6 my-auto">
                <h2 class="mr-heading serif">{{ page.medium_3 }}</h2>
                <h5 class="mr-subheading serif">
                    Starting at ${{ page.medium_3_start_price}}
                </h5>
                <p>{{ page.medium_3_description }}</p>
                <a href="mailto:mrapella@csumb.edu?subject=Rapella Art: {{page.medium_3}} Commission" class="mr-btn">
                    <i class="fas fa-envelope mr-1"></i>
                    Get a Quote
                </a>
            </div>
    
            <div class="col-12 col-md-6 my-auto">
                <div class="row mb-4 mb-md-0">
                    
                    {% for sample in page.medium_3_samples %}

                    <div class="col-6 col-md-6 my-auto">
                        <div class="card rounded-0 border-0 shadow-sm">
                            <img src="{{ sample }}" class="card-img-top rounded-0" alt="">
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
    
        </div>
    
        {% if site.store-open %}
            {% include store-open.html %}
        {% endif %}
    
    </main>

	{% include footer.html %}
</body>
</html>