<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="bg-rapella-primary">
    {% include nav.html %}
    
    <main class="container">
        <div class="row flex-column-reverse flex-md-row mt-2 mb-4">
    
            <div class="col-12 col-md-6 my-auto">
                <h2 class="rapella-heading serif">{{ page.medium_1 }}</h2>
                <h4 class="rapella-subheading serif">
                    Starting at ${{ page.medium_1_start_price}}
                </h4>
                <div class="rapella-divider"></div>
                <p>{{ page.medium_1_description }}</p>
                <button class="btn btn-lg btn-rapella-accent rounded-0 shadow-sm">Get a Quote</button>
            </div>
    
            <div class="col-12 col-md-6 my-auto">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="card rounded-0 border-0 shadow-sm">
                            <img src="/assets/img/horse.png" class="card-img-top rounded-0" alt="">
                        </div>
                    </div>
    
                    <div class="col-6 col-md-6 my-auto">
                        <div class="card rounded-0 border-0 shadow-sm">
                            <img src="/assets/img/mourning-angels.jpg" class="card-img-top rounded-0" alt="">
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
        <div class="row my-5">
    
            <div class="col-12 col-md-6 my-auto">
                <div class="row">
                    <div class="col-6 col-md-6 mt-4">
                        <div class="card rounded-0 border-0 shadow-sm">
                            <img src="/assets/img/mourning-angels.jpg" class="card-img-top rounded-0" alt="">
                        </div>
                    </div>
    
                    <div class="col-6 col-md-6">
                        <div class="card rounded-0 border-0 shadow-sm">
                            <img src="/assets/img/mourning-angels.jpg" class="card-img-top rounded-0" alt="">
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-md-6 my-auto">
                <h2 class="rapella-heading serif">{{ page.medium_2 }}</h2>
                <h4 class="rapella-subheading serif">
                        Starting at ${{ page.medium_2_start_price}}
                    </h4>
                <div class="rapella-divider"></div>
                <p>{{ page.medium_2_description }}</p>
                <button class="btn btn-lg btn-rapella-accent rounded-0 shadow-sm">Get a Quote</button>
            </div>
    
        </div>
    
    
        <div class="row flex-column-reverse flex-md-row my-5">
    
            <div class="col-12 col-md-6 my-auto">
                <h2 class="rapella-heading serif">{{ page.medium_3 }}</h2>
                <h4 class="rapella-subheading serif">
                        Starting at ${{ page.medium_3_start_price}}
                    </h4>
                <div class="rapella-divider"></div>
                <p>{{ page.medium_3_description }}</p>
                <button class="btn btn-lg btn-rapella-accent rounded-0 shadow-sm">Get a Quote</button>
            </div>
    
            <div class="col-12 col-md-6 my-auto">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="card rounded-0 border-0 shadow-sm">
                            <img src="/assets/img/like-porcelain.jpg" class="card-img-top rounded-0" alt="">
                        </div>
                    </div>
    
                    <div class="col-6 col-md-6 mt-4">
                        <div class="card rounded-0 border-0 shadow-sm">
                            <img src="/assets/img/like-porcelain.jpg" class="card-img-top rounded-0" alt="">
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
        {% if site.store-open %}
            {% include store-open.html %}
        {% endif %}
    
    </main>

	{% include footer.html %}
</body>
</html>