<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="bg-mr-primary">
    {% include nav.html %}
    <main class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="mr-art-card card-hover">
                    <img src="{{ site.cloudinary_url }}{{ page.featured_image }}" class="card-img-top" alt="{{ page.title }}">
                </div>
            </div>

            <div class="col-12 col-md-7 pt-4 pt-md-0 px-md-5 my-auto text-center text-md-left">
                <h4 class="mr-text-detail">
                    {{ page.date | date: "%Y" }}
                </h4>
                <h1 class="mr-heading">{{ page.title }}</h1>
                <h4 class="mr-subheading">
                    {{ page.medium }} Art:
                    {%if page.categories.size > 0 %}
                        {{ page.categories | join: ", " }}
                    {% else %}
                        Uncategorized
                    {%endif%}
                </h4>
                {{ content }}
            </div>
        </div>
    </main>
	{% include footer.html %}
</body>
</html>
